<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        text-align: center;
        
      }
      
      a {
        color: #00B7FF;
        padding: 0.5em;
      }
      table{
        padding:0.2em ;
      }
    </style>
</head>
<body>


<h2 align="center">
    <a href="home">Home</a>   
      <a href="/add">Add</a>   
        <a href="/display">Display</a>
</h2>

